<div class="main">
  <div class="container">
    <h1 class="title">Тест по теме: "Правовая охрана программ и данных".</h1>
    <app-input-question
      title="Что такое авторское право?"
      stringTrueAnswers='["Возможность", "ограничивать", "распространиние", "данных программы"]'
    ></app-input-question>
    <app-change-question
      title="Авторские права не распространяются на:"
      StringAnswers='["Программы", "Базы данных", "ОС", "Языки программирования"]'
      trueAnswer="Языки программирования"
    ></app-change-question>
    <app-homon-question
      title="Авторское право требует регистрации."
      stringTrueAnswer="true"
    ></app-homon-question>
    <app-input-question
      title="Что такое лицензия?"
      stringTrueAnswers='["договор", "право", "использование", "использовать", 
  "позволяющий", "разрешающий"]'
    ></app-input-question>
    <app-change-question
      title="Что лишнее?"
      StringAnswers='["shareware", "open source", "hardware", "freeware"]'
      trueAnswer="hardware"
    ></app-change-question>
    <app-homon-question
      title="Пользователь без доп.прав может сделать резервную копию программы"
      stringTrueAnswer="false"
    ></app-homon-question>
    <app-homon-question
      title="Плагиат не считается нарушением лицензии."
      stringTrueAnswer="false"
    ></app-homon-question>
    <app-input-question
      title="Что такое офисный пакет?"
      stringTrueAnswers='["набор", "программы", "подготовка", "документ"]'
    ></app-input-question>
    <app-change-question
      title="Электронная таблица от Microsoft:"
      StringAnswers='["Calc", "Excel", "Base", "Impress"]'
      trueAnswer="Excel"
    ></app-change-question>
    <app-input-question
      title="Что такое графический редактор?"
      stringTrueAnswers='["программа", "создание", "редактирование", "изображение"]'
    ></app-input-question>
    <app-change-question
      title="Что лишнее?"
      StringAnswers='["Браузер", "Эл.почта", "Видеоредактор", "Программа для онлайн-общения"]'
      trueAnswer="Видеоредактор"
    ></app-change-question>
    <app-change-question
      title="Что не умеет звуковой редактор?"
      StringAnswers='["Записывать звук", "Вырезать фрагменты зв. файла", "Синхронизировать файлы", "Автоматически исправлять неровные переходы звука"]'
      trueAnswer="Автоматически исправлять неровные переходы звука"
    ></app-change-question>
    <app-homon-question
      title="Gimp - кроссплатформенная программа."
      stringTrueAnswer="true"
    ></app-homon-question>
    <app-change-question
      title="Что из этого - не мессенджер?"
      StringAnswers='["WhatsApp", "Mail.ru", "Firefox", "Kopete"]'
      trueAnswer="Firefox"
    ></app-change-question>
    <app-homon-question
      title="Офисный пакет обычно включает в себя программу для управления данными."
      stringTrueAnswer="true"
    ></app-homon-question>

    <div class="getResult">
      <button (click)="GetUserAnswers()">Узнать результат теста</button>
    </div>
    <p *ngFor="let answer of userAnswers">{{ answer }}</p>
  </div>
</div>
