<div class="container">
  <h1 class="title">Тест по теме: "Правовая охрана программ и данных".</h1>
  <app-input-question
    title="Что такое авторское право?"
    trueAnswer="Возможность ограничивать распространиние и использование данных программы"
  ></app-input-question>
  <app-change-question
    title="Авторские права распространяются на:"
    StringAnswers='["Программы", "Базы данных", "ОС", "Языки программирования", 
    "Документы"]'
  ></app-change-question>
  <app-homon-question
    title="Авторское право требует регистрации."
  ></app-homon-question>
  <app-input-question
    title="Что такое лицензия?"
    trueAnswer="['договор', 'право', 'использование', 'использовать', 'позволяющий','разрешающий']"
  ></app-input-question>
  <app-change-question
    title="Что лишнее?"
    StringAnswers='["shareware", "open source", "hardware", "freeware"]'
  ></app-change-question>
  <app-homon-question
    title="Пользователь без доп.прав может сделать резервную копию программы"
  ></app-homon-question>

  <app-homon-question
    title="Плагиат не считается нарушением лицензии."
  ></app-homon-question>
</div>
